{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
	<table class="table table-striped table-hover table-bordered table-condensed node-table">
		<thead>
			<tr>
				<th>Node</th>
				<th>IP</th>
				<th>Start Time</th>
				<th>Iteration</th>
				<th>Faults</th>
			</tr>
		</thead>
		<tbody>
			{% for node in nodes %}
			<tr onclick="node_select(this.cells[0])">
				<td>{{ node.id }}</td>
				<td>{{ node.ip }}</td>
				<td>{{ node.start_time }}</td>
				<td>{{ node.iteration }}</td>
				<td>{{ node.faults }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}